body {
  margin: 0;
}

.youtubeEmbed,
.youtubeEmbed iframe {
  width: 100%;
  height: 100%;
}

.rt-BaseButton:not(:disabled) {
  cursor: pointer !important;
}

.searchDetailVideoSuggestion,
.videoPreviewBox * {
  transition: all .125s;
}

.videoPreviewBox:hover>img {
  transform: scale(1.025);
  box-shadow: #fff2 0rem 0.125rem 1rem;
}

.videoPreviewBox:active>img {
  transform: scale(0.985);
  box-shadow: unset;
}

.searchDetailVideoSuggestion:hover {
  background: var(--gray-3);
}

@media only screen and (max-width: 768px) {
  .hideOnPhones {
    display: none;
  }
}

.youtubeWithTimeline:fullscreen {
  display: block;
  height: fit-content;
  overflow-y: auto;
}

.youtubeWithTimeline:fullscreen>.playerCombo {
  position: relative !important;
  width: 100vw;
  height: 100vh;
}

.youtubeWithTimeline:fullscreen>.playerTimeline>canvas {
  left: 0 !important;
  width: 100% !important;
}